@use '../base/variables' as *;
@use '../utilities/mixins' as *;

body {
  font-family: $site-font;
  background-color: $light-grey;
  color: $light;
  line-height: $site-line-height;

  .site-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  a {
    text-decoration: none;
    color: $light;
  }

  a:visited,
  a:focus {
    text-decoration: none;
  }

  p {
    font-size: $standard-font-size;
  }

  main {
    width: 90%;
    max-width: $main-max-width;
    @include margin-center;
    flex: 1 1 auto;
  }

  main.singleMovie-main-section {
    max-width: 75rem;

  }
}
