//styling for footer
@use '../base/variables' as *;
@use '../utilities/mixins' as *;

footer {
  padding: 0.6rem $base-spacing;
  background-color: $black;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  p {
    margin: $small-spacing;
    font-size: 0.8rem;
    color: $light;
    margin-right: 1rem;
  }
}
