//header styles
@use '../base/variables' as *;
@use '../utilities/mixins' as *;

header {
  background-color: $black;
  position: relative;

  .top-bar {
    @include flex-layout-row-between;
    padding: $small-spacing $base-spacing;
    max-width: 1630px;
    margin: 0 auto;

    h1 {
      margin: 0;
    }

    a.site-logo {
      font-size: $medium-font-size;
      font-family: $logo-font;

    }

    .logo-m {
      color: $site-orange;
    }

    .logo-w {
      color: $site-blue;
    }

    button.btn-main-nav {
      background: none;
      color: inherit;
      border: none;
      padding: 0;
      font: inherit;
      cursor: pointer;
      outline: inherit;
      z-index: 10;

      svg {
        fill: $light;
        display: block;
      }
    }
  }

  &.show {
    .top-bar {
      button.btn-main-nav {
        position: fixed;
        right: 1rem;
      }
    }
  }

  @media (min-width: $breakpoint-mobile) {
    .top-bar {
      flex-direction: column;
      justify-content: center;

      a.site-logo {
        font-size: 1.8rem;
      }
    }
  }

  @media (min-width: $breakpoint-tablet) {
    .top-bar {
      flex-direction: row;
      justify-content: space-between;
      padding: 0.75rem 1rem;
      a.site-logo {
        font-size: 2rem;
      }
    }
  }
  
}
