//styline for main nav list
@use '../base/variables' as *;
@use '../utilities/mixins' as *;

.main-nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
  width: 0px;
  overflow: hidden;
  visibility: hidden;
  transition: all 0.4s;

  position: fixed;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 9;

  .show & {
    width: 100vw;
    visibility: visible;
    transition: all 0.4s;
  }

  ul {
    @include ul-base;
    margin-right: $base-spacing;
    margin-top: 64px;
  }

  a {
    display: inline-block;
    margin: $base-spacing $small-spacing;
    color: $light;
    text-transform: uppercase;
    font-weight: 600;
    transition: all 0.2s;

    &.active {
      color: $site-orange;
    }
  }

  .search-icon-link {
    display: block;

    svg {
      fill: $light;
      display: block;
      margin: 0 auto;
      margin-right: 0;
      transition: all 0.4s;
      &:hover {
        fill: $site-blue;
      }
    }
  }

  .dark-mode-toggle-btn {
    display: block;
    margin: 0 auto;
    margin-right: 0;

    svg {
      display: block;
    }
  }

  .mode-toggle-li {
    margin: $base-spacing $small-spacing;
  }

  // @media (min-width: 500px) {
  //   .show & {
  //     width: 235px;
  //   }
  // }

  @media (min-width: $breakpoint-mobile) {
    visibility: visible;
    transition: none;
    height: auto;
    width: auto;

    position: relative;
    top: 0;

    .show & {
      transition: none;
      height: auto;
    }

    ul {
      display: flex;
      align-items: center;
      margin-top: 0;
      margin-right: 0;
    }

    a {
      margin: 0 $base-spacing;
    }

    li {
      margin-left: 0.3rem;
      margin-right: 0.3rem;
    }
  }

  @media (min-width: $breakpoint-tablet) {
    a,
    .search-icon-link {
      margin: 0 $medium-spacing;
    }

    .dark-mode-toggle-btn {
      margin: 0 0 0 $medium-spacing;
    }

    li {
      margin-left: 0;
      margin-right: 0;
    }

    .mode-toggle-li {
      margin: 0;
    }
  }
}
