@use '../base/variables' as *;
@use '../utilities/mixins' as *;

.single-movie-card {
    @include margin-center;
    background-color: $dark-grey;
    margin-top: $base-spacing;
    margin-bottom: $base-spacing;
    padding-top: $base-spacing;
    border-radius: 12px;

    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;    
    
    img {
        display: block;
        width: 100%;
        border-radius: 5px;
    }

    .movie-card-content {
        width: 88%;
        @include margin-center;
    }

    h3 {
        font-size: 1rem;
        margin-top: 0.9rem;
    }

    .poster-wrapper {
        position: relative;

    }

    .rating-score {
        font-weight: 700;
        font-size: 1.2rem;
        color: $site-blue;
        position: absolute;
        bottom: 0;
        right: 0;
        margin: 0;
        padding: 0.2rem 0.8rem;
        background-color: rgba(0,0,0,0.7);
        border-top-left-radius: 6px;
    }

}