//styling for page search
@use '../base/variables' as *;
@use '../utilities/mixins' as *;

.search-main-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;

  h2.search-heading,
  .movies-grid {
    width: 90%;
    margin: 0 auto;
    margin-bottom: $base-spacing;
  }

  h2.search-heading {
    margin-top: $base-spacing;
    margin-bottom: $base-spacing;
  }

  .error-msg {
    text-align: center;
    margin-top: $double-spacing;
    font-size: $medium-font-size;
    padding: $small-spacing;
    font-weight: 600;

    /* Fallback: Set a background color. */
    background-color: $site-orange;

    //gradient overlay to error text
    background-color: $light-grey;
    background-image: linear-gradient(45deg, #f3ec78, #af4261);
    background-size: 100%;
    background-repeat: repeat;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
  }

  .hero {
    background-image: linear-gradient(180deg, #00000088 33%, #ffffff44 100%),
      url(../../images/search-bg.png);
    width: 100%;
    background-size: cover;
    background-position: bottom;

    min-height: 400px;
    margin-bottom: 0;
    flex: 1 1 auto;

    @include flex-layout-column-center;

    p.intro-p {
      font-weight: 700;
      font-size: 1.5rem;
      color: #fff;

      margin: 0 auto;
      padding: 0.5rem;
      width: 85%;
      text-transform: uppercase;
    }

    @media (min-width: $breakpoint-mobile) {
      p.intro-p {
        font-size: 2.3rem;
      }
    }

    @media (min-width: $breakpoint-tablet) {
      p.intro-p {
        font-size: 2.5rem;
        width: 85%;
      }
    }

    @media (min-width: $breakpoint-desktop) {
      p.intro-p {
        font-size: 2.8rem;
        width: 78%;
      }
    }

    @media (min-width: $breakpoint-desktop-lg) {
      p.intro-p {
        width: 60%;
      }
    }
  }

  .search-form {
    margin: 2rem auto;

    input {
      outline: none;
      padding: $small-spacing 0.7rem;
      border: none;
      border-radius: 7px;
      background-color: $light;
      &:focus {
        border: 2px solid $site-orange;
      }
    }

    button {
      display: inline-block;
      padding: 0.5rem;
      margin: $small-spacing;
      border-radius: 7px;
      outline: none;
      border: none;
      transition: all 0.3s;
      cursor: pointer;
      font-weight: 600;
      //background-color: $light;
      background-color: $site-orange;
      color: $light;

      &:hover,
      &:focus {
        color: $dark-grey;
      }
    }

    @media (min-width: $breakpoint-mobile) {
      input {
        width: 330px;
      }
    }
  }
}
