//styline for movie sort navigation on hiomepage
@use '../base/variables' as *;
@use '../utilities/mixins' as *;

.movie-sort-select {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: $base-spacing;
 
  ul {
    @include ul-base;
  }

  select, select:focus {
      outline: none;
  }

  select {
    margin-left: $small-spacing;
    border: none;
    border-radius: 4px;
    padding: 3px 3px 5px 3px;
    background-color: $dark-grey;
    color: $site-orange;
    font-size: 0.9rem;
  }

  span {
      color: $site-orange;
  }

  @media (min-width: $breakpoint-mobile) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
